<div class="page-header">
<h1>Avaliações</h1>
<div class="row">
  <div class="col-xs-8">
    <%= link_to 'Novo', new_avaliacao_path, 
            :class => 'btn btn-primary' %>
  </div>
   <div class="col-xs-4 text-right">
    <%= form_tag(avaliacaos_path, method: "get") do %>
      <div class="input-group">
        <%= text_field_tag(:p, '', class: 'form-control') %>
        <span class="input-group-btn">
          <%= button_tag class: 'btn btn-success' do %>
            <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
       <p id="notice"><%= notice %></p>   
 </span>
</div>
      </div>
       
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>   
      <th>Usuario</th>   
      <th>Promoção</th>     
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @avaliacaos.each do |avaliacao| %>
      <tr>        
        <td><%= avaliacao.usuario.nome %></td>
        <td><%= image_tag(avaliacao.produto.cover.url(:medium)) %></td>          
        <td><%= avaliacao.nota %></td>
        <td> <%= link_to 'Visualizar', avaliacao,
                      :class => 'btn btn-info' %>

          <%= link_to 'Editar', edit_avaliacao_path(avaliacao),
                      :class => 'btn btn-warning' %>
          
          <%= link_to 'Excluir', avaliacao_path(avaliacao),
                      :method => :delete,
                      :data => { :confirm => 'Confirma a exclusão?' },
                      :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>